<script setup>
import { computed } from 'vue'
import { getReadingTime } from '@/helpers/getReadingTime.js'

const props = defineProps({
  showExplanation: Boolean,
  text: String
})
const readingTime = computed(() => {
  return getReadingTime(props.text);
})

</script>

<template>
  <div>
    <h4>Reading time</h4>
    <p v-if="props.showExplanation" className='explanation'>
      Reading time: Predicts the amount of time it will take to read this
      article. Based on an average reading speed of 238 words per minute.
    </p>
    <p>{{ readingTime }}</p>
  </div>
</template>
