<script setup>
import { ref } from 'vue'
import ArticleStats from '@/components/ArticleStats.vue'

const text = ref('');
const showExplanation = ref(false);
const toggleExplanation = () => {
  showExplanation.value = !showExplanation.value;
}
</script>

<template>
  <div className='container'>
    <label htmlFor='text'>
        <textarea
          v-model="text"
          aria-label='Area to add text'
          id='text'
          name='text'
          rows='10'
          className='article' />
    </label>
    <div className='stats'>
      <ArticleStats :showExplanation="showExplanation" :text="text" />
      <div className='show-explanation'>
        <button @click="toggleExplanation">What are these stats?</button>
      </div>
    </div>
  </div>
</template>

<style>
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  background-color: #282c34;
  padding: 20px;
  color: white;
  min-height: 100vh;
}

.article {
  width: calc(100% - 2rem);
  border-radius: 1ch;
  font-size: 1rem;
  padding: 1rem;
  font-family: Helvetica, sans-serif;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.stats > * {
  flex: 1;
}

.show-explanation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.show-explanation button {
  background: #5ab1ef;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 150ms;
}

.show-explanation button:hover {
  opacity: 0.65;
  transition: 150ms;
}

.explanation {
  background-color: #a8afc4;
  color: #282c34;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
</style>